@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('./fonts/Neucha-Regular.ttf');
}

:root {
  --blue: #1085c5;
  --brown: #b09a81;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --light: #f5f4f0;
  --primary-dark: #42413c;
  --orange: #fe8a02;
  --white: #fff;
  --translucent-white: #d7ccc0;
}

/* ------ common markup ------ */

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: 0;
}

main {
  position: relative;
}

body,
header,
main,
footer {
  width: 100%;
}

h1,
h2,
h4,
h2 > span {
  font-weight: normal;
}

h1 {
  z-index: 200;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

#header {
  position: relative;
  z-index: 0;

  height: 914px;
}

#video {
  height: 805px;
  padding-top: 106px;
}

#navigation {
  height: 990px;

  padding-top: 200px;
}

#errors-in-planning {
  height: 919px;
}

#footer {
  height: 581px;
}

/* ------ fonts ------ */

.regular-font {
  color: var(--dark);
  font: 16px/1.6 'Open Sans', sans-serif;
}

.heading-font {
  font-family: 'Neucha', sans-serif;
  line-height: 1.2;
}

.lh-1 {
  line-height: 1.02;
}

h1,
.orange-72 {
  color: var(--orange);
  font-size: 72px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2;
}

h2,
.orange-60 {
  color: var(--orange);
  font-size: 60px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2;
}

.orange-52 {
  color: var(--orange);
  font-size: 52px;
}

.orange-34 {
  color: var(--orange);
  font-size: 34px;
}

.dark-72 {
  color: var(--dark);
  font-size: 72px;
}

.dark-60 {
  color: var(--dark);
  font-size: 60px;
}

.dark-34 {
  color: var(--dark);
  font-size: 34px;
}

.pr-dark-64 {
  color: var(--primary-dark);
  font-size: 64px;
}

.tr-dark-24 {
  color: var(--translucent-dark);
  font-size: 24px;
}

.white-60 {
  color: var(--white);
  font-size: 60px;
}

.white-52 {
  color: var(--white);
  font-size: 52px;
}

.white-34 {
  color: var(--white);
  font-size: 34px;
}

.white-18 {
  color: var(--white);
  font-size: 18px;
}

.white-16 {
  color: var(--white);
  font-size: 16px;
}

.white-14 {
  color: var(--white);
  font-size: 14px;
}

.white-12 {
  color: var(--white);
  font-size: 12px;
}

.tr-white-24 {
  color: var(--translucent-white);
  font-size: 24px;
}

.brown-14 {
  color: var(--brown);
  font-size: 14px;
}

/* ------ background ------ */

.bg-orange {
  background: var(--orange);
}

.bg-brown {
  background: var(--brown);
}

.bg-pr-dark {
  background: var(--primary-dark);
}

.bg-white {
  background: var(--white);
}

.bg-light {
  background-color: var(--light);
}

.bg-watermark {
  position: relative;
}

.bg-watermark::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("./images/background.png");

  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";
}

/* ------ columns ------ */

.box-2-col {
  display: flex;
  justify-content: space-between;

  margin-top: 8px;
}

.text-box {
  width: 540px;
}

/* ------ box's styles ------ */

.mt-57 {
  margin-top: 57px;
}

.mr-55 {
  margin-right: 55px;
}

.ml-55 {
  margin-left: 55px;
}

.mt-38 {
  margin-top: 38px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-1em {
  margin-bottom: 1em;
}

.pt-1 {
  padding-top: 1px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.align-center {
  text-align: center;
}

/* ------ header ------ */

.header-banner {
  position: relative;

  height: 451px;
}

.header-image {
  position: absolute;
  top: -45px;
  right: -270px;

  z-index: -100;

  height: 525px;
}

/* ------ regular floors ------ */

.banner {
  height: 434px;

  margin: 0 auto 100px auto;
}

.banner-heading {
  width: 502px;
}

.heading-row {
  height: 26px;

  margin-bottom: 20px;
  padding: 2px 0 0 10px;

  text-transform: uppercase;
}

.light-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.dark-shadow {
  filter: drop-shadow(0 16px 32px rgba(122, 107, 97, 0.8));
}

/* ------ flex ------ */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#navigation > .flex-container {
  height: 691px;
}

/* ------ cards ------ */

.card {
  width: 350px;
}

.top-line-card {
  align-self: flex-start;
  height: 323px;
}

.bottom-line-card {
  align-self: flex-end;
  height: 348px;
}

/* .heading-card {
  padding-top: 5px;
} */

.nav-card {
  background-color: var(--light);
}

.nav-card:hover {
  background-color: var(--orange);
}

.nav-card:hover * {
  color: var(--white);
}

.nav-card h3 {
  width: 302px;
  margin: 0 0 12px 24px;

  font-weight: normal;
}

.card-number {
  width: 23px;
  height: 64px;
  margin: 24px 0 42px 24px;
}

.card-text {
  width: 302px;
  margin: 0 0 0 24px;
}

/* ------ orange buttons ------ */

.btn {
  cursor: pointer;
}

.btn-button {
  display: inline-block;

  width: 148px;
  height: 49px;
  padding: 12px 24px;

  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.btn-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 62px;
  height: 50px;
}

.btn-submit::before {
  width: 24px;
  height: 24px;
  margin: 0 auto;

  background: url(./images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

/* ------ footer ------ */

.subscription-box {
  height: 190px;
  margin-top: 2px;
}

.mail-box {
  width: 485px;
}

.copyright {
  width: 100%;

  margin-top: 65px;

  line-height: 2.5em;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

/* ------ forms ------ */

form {
  display: flex;
}

input {
  padding: 15px;

  font-size: 13px;
}

.email-field {
  width: 423px;
  height: 50px;
}

/* ------ temporary styles because of tests... ------ */
#premature-optimization .container div:nth-child(4) {
  margin-bottom: 16px;
  padding-top: 6px;
}

ul {
  margin: 9px 0 17px 40px;
}
